*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}
li, a, button{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: 500;
   font-size: 30px;
   text-decoration: none;
   color: #105b74;
}
header{
   background-color: yellow;
   display: flex;
   justify-content: space-between;
   text-align: center;
   padding: 30px 10%;
}
.nav_link{
   list-style-type: none;
}
.nav_link li{
   padding: 0 20px;
}

.parent{
   width: 100%;
   height: 120vh;
   background-color: rgba(115, 115, 235, 0.274); 
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   
}
.child{
   margin: 10px;
   width: 350px;
    height: 250px;
   }
   

   @media (max-width:500px) {
      .parent{
          padding-top: 50px;
          /* background-color: blue; */
          display: flex;
         flex-wrap: wrap;
         text-align: center;
         color: white;
      }
      .child{
          margin:10px 50px;
      }
  }
  @media (min-width:501px) and (max-width:800px){
   .parent{
       /* background-color: blueviolet; */
       display: flex;
       flex-wrap: wrap;
   }
   .child{
       width: 230px;
       height: 200px;
       margin: 10px 50px;
       display: flex;
       flex-grow: 10;
       flex-shrink: 10;
   }
}
/* laptop version*/
@media (min-width:801px) and (max-width:1076px){
   .parent{
       /* background-color: red; */
       display: flex;
       flex-wrap: wrap;
   }
   .child{
       width: 250px;
       height: 200px;
       /* margin: 10px 50px; */
       display: flex;
       flex-grow: 10;
       flex-shrink: 10;
   }
}